
@{
    ViewBag.Title = "Correct";
}

<h2>Dashboard </h2>

<h3><a href="@Url.Action("LoanDetail","Loan")">Loan Details </a></h3>
<h3><a href="@Url.Action("InstallmentDetal","Installment")">Installment Details </a></h3>

<h3><a href="@Url.Action("StaffDetail","Staff")">Staff Details </a></h3>


<hr/>


<a href="@Url.Action("Index","Home")">Back to Site </a>



