@{
    ViewBag.Title = "About";
}



<!-- /services -->
<div class="welcome py-5">
    <div class="container py-xl-5 py-lg-3" id="services">
        <div class="row">
            <div class="col-lg-5 welcome-left">
                <h4>About Bank Loan</h4>
                <h3 class="title-w3ls mt-2 mb-3">Services we’re Provided</h3>

                <p class="mt-4 pr-lg-5">
                   we provide all loans all low interest rates to people they need for any purpose for example Personal Loan, Business Loan
                </p>
            </div>
            <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                <div class="row">
                   
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //services -->
