@{
    ViewBag.Title = "Home Page";
}



<!-- //banner bottom -->
<!-- /features -->
<section class="about py-md-5 py-5" id="loans">
    <div class="container py-md-5">
        <div class="feature-grids row mt-3">
            <div class="col-lg-6 ab-content-img">
                <img src="~/images/ab.jpg" alt="" class="img-fluid image1">
            </div>
            <div class="col-lg-6 ab-content-inf pl-lg-5">
                <h3 class="title-w3ls my-3">
                   Every Type of for all People
                </h3>
                <p>Choose from lot of options according to your need that fits pocket and repay it according to the needs </p>
                <ul class="tic-info list-unstyled mt-5">
                    <li>

                        <span class="fa fa-check-square-o mr-2"></span> Personal Loan At 10.75%
                    </li>
                    <li>

                        <span class="fa fa-check-square-o mr-2"></span> Repayable in 1- 5 Years EMIs

                    </li>
                    <li>

                        <span class="fa fa-check-square-o mr-2"></span>Business Loan
                        At 11.65%

                    </li>
                    <li>
                        <span class="fa fa-check-square-o mr-2"></span> Home Loan
                        At 7.75%
                    </li>
                   

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //features -->
<!-- products -->
<!-- //products -->

<!-- /full-grid -->
<!--mid -->
<section class="mid-w3-pvt-content">
    <div class="overlay-inner py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="test-info text-right ml-auto">
                <h3 class="title-w3ls two">Reach According to your Business</h3>
                <h4 class="tittle">
                    Full of Opurtunites 
                </h4>
                <p class="mt-4">.</p>
              
            </div>
        </div>
    </div>
</section>
<!-- //mid-->
<!-- /services -->
<!-- //services -->
<!-- /news-letter -->
<!-- /services -->
